<table class="table">
  <tr>
    <th>
      Ranking
    </th>
    <th>
      Name
    </th>
    <th>
      Upvote
    </th>
  </tr>
<% @movies.each do |movie| %>
  <tr>
    <td>
      Ranked:
      <% if movie.upvotes.nil? %>
        0
      <% else %>
        <%= movie.upvotes %>
      <% end %>
    </td>
    <td>
      <a href="/movies/<%= movie.id %>"><%= movie.name %></a>
    </td>
    <td>
      <%= button_to "Upvote", "/movies/#{movie.id}/upvote", method: :patch, class: 'x-button' %>
    </td>
  </tr>
<% end %>
</table>

<%= button_to "View All Media", "/",  method: :get, class: 'x-button' %>
<%= button_to "Add a Movie", new_movie_path,  method: :get, class: 'x-button' %>
