<table>
  <thead>
    <tr>
      <th>Ranking</th>
      <th>Name</th>
      <th>Upvote</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>Ranked: <%= movie.rank %></td>
        <td><%= link_to movie.name, movie_path(movie) %></td>
        <td><%= link_to "Upvote", upvote_movie_path(movie), method: :patch %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "View All Media", "/" %>
<%= link_to "Add a Movie", new_movie_path %>
