<table class="table table-hover">
  <th>Ranking</th>
  <th>Name  </th>
  <th> Upvote </th>
  <% @movies.each do |movie| %>
    <tr>
      <td>Ranked: <%= movie.rank %> </td>
      <td> <%= link_to movie.name, movie_path(movie.id) %> </td>
      <td> <%= button_to "Upvote", { action: "update" , class: "upvote_i", id: movie.id}, method: "patch", class:"btn btn-default" %> </td>
    </tr>
  <% end %>
</table>
<%= button_to "Add a Movie", new_movie_path, method: :get, class:"btn btn-default" %>
<%= button_to "View all media", root_path, method: :get, class:"btn btn-default" %>
