<%= link_to "sort by ascending", movies_path(order: 'asc') %>
<%= link_to "sort by descending", movies_path(order: 'desc') %>

<table>
  <thead>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Upvote?</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.votes.present? ? movie.votes : "0" %></td>
        <td><%= link_to movie.title, movie_path(movie) %></td>
        <td><%= link_to "Upvote!", movie_upvote_path(movie), :method => :patch %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Go Home", "/" %>
<%= link_to "New Movie", new_movie_path %>
