<table class="table table-hover">
  <thead>
    <tr>
      <th>
        Ranking
      </th>
      <th>
        Name
      </th>
      <th>
        Upvote
      </th>
    </tr>
  </thead>
  <tbody>
    <% @movies_sort.each do |movie| %>
    <tr>
      <td>Ranked: <%= movie.rank %></td>
      <td><%= link_to movie.name, movie_path(movie)%></td>
      <td>
        <%= button_to "Upvote", { action: "upvote", id: movie.id }, method: "patch", class: "btn btn-default" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= button_to "View All Media", root_path, method: :get, class: "btn btn-default" %>
<%= button_to "Add a Movie", new_movie_path, method: :get, class: "btn btn-default" %>
