<div class="row">
  <div class="col-lg-12">
    <h2>New Movie </h2>
      <div class="form-group">
      <%= form_for @movie do |f| %>
      <fieldset>
        <legend><%= @legend %></legend>
        <%= f.label :name %>
        <%= f.text_field :name, {class: "form-control"} %>
        <%= f.label :director %>
        <%= f.text_field :director, {class: "form-control"} %>
        <%= f.label :description %>
        <%= f.text_field :description, {:class => "form-control"} %>
      </fieldset>
      <br>
      <%= f.submit("Save") %>
      <% end %>
      </div>
    </div>
  </div>
</div>
