<div class="row">
  <div class="col-lg-12">
    <h1><%= @movie.name %><small> Directed by: <%= @movie.director %></small></h1>
    <h4>Ranked: <%= @movie.rank %></h4>
    <p><%= @movie.description %></p>
    <%= button_to "Upvote", { action: "upvote", id: @movie.id }, class: "btn btn-primary", method: "patch", id: "upvote" %>
    <%= button_to "Edit", edit_movie_path(@movie.id), method: :get, class: "btn btn-default" %>
    <%= button_to "Delete", "/movies/#{@movie.id}", method: :delete, class: "btn btn-danger" %>
    <%= button_to "View All Movies", movies_path, method: :get, class: "btn btn-default" %>
    <%= button_to "View All Media", root_path, method: :get, class: "btn btn-default" %>
  </div>
</div>
