<h1><%= @movie.title %></h1>

<% if @movie.director.present? %>
  <h2>directed by <%= @movie.director %></h2>
<% end %>

<p>
  <%= @movie.description %>
</p>

<%= link_to "Edit Movie", edit_movie_path %>

<%= link_to "All Movies", movies_path %>
