<h1> <%= @movie.name %> </h1> <h2>Directed by: <%= @movie.director %> </h2>
<h3>Ranked: <%= @movie.rank %> </h3>
<h4><%= @movie.description %> </h4>
<%= button_to 'Upvote', upvote_path(@movie.id) %>



<%= link_to 'EDIT', edit_movie_path %>
<%= link_to 'DELETE',  { action: :destroy, id: @movie.id }, method: :delete, data: { confirm: 'Delete Movie, For Real?' } %>
<%= link_to 'View All Movies', movies_path %>
