<h1><%= @movie.title %></h1>

<h2><%= @movie.votes.present? ? "#{@movie.votes} votes" : "0 votes" %></h2>

<% if @movie.director.present? %>
  <h3>directed by <%= @movie.director %></h2>
<% end %>

<p>
  <%= @movie.description %>
</p>

<%= link_to "Upvote!", movie_upvote_path(@movie), :method => :patch %>

<%= link_to "Delete Movie", movie_path(@movie), method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to "Edit Movie", edit_movie_path %>

<%= link_to "All Movies", movies_path %>
