<h1> <strong><<%= @movie.name %></strong> Recorded By: <%= @movie.director %> </h1>
<h3>Ranked: <%= @movie.rank %> </h3>
<h4> <%= @movie.description %> </h4>

<%= button_to "Upvote", { action: "update" , class: "upvote"}, method: "patch"%>
<%= button_to "Edit", { action: "edit", id: @movie.id },  method: :get %>
<%= button_to "Delete", { action: "destroy", id: @movie.id}, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= button_to "View all movies", movies_path, method: :get%>
<%= button_to "View all media", root_path, method: :get %>
