<h1><%= @movie.name %></h1> <h2>Directed by: <%= @movie.director%></h2>
<br>
<h3>Ranked: <%= @movie.ranked %></h3>
<br>
<p>
  <%= @movie.description %>
</p>
<br>
<%= button_to "Upvote", upvote_path(@movie), method: :patch %>
<br>
<%= button_to "Edit #{@movie.name}", edit_movie_path(@movie), method: :get %> <%= button_to "DELETE", "/movies/#{@movie.id}", method: "delete",  data: { confirm: "Are you sure?" } %> View All Movies Button Here View All Media Button Here
