<fieldset>
  <%= form_for movie, url:{action: action} do |f| %>
    <legend>
      <h2><%= title %></h2>
    </legend>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :director %><br>
    <%= f.text_field :director %><br>
    <%= f.label :description %><br>
    <%= f.text_area :description %><br>
    <%= f.hidden_field :rank, :value => rank_value %>
    <%= f.submit "Save" %>
  <% end %>

</fieldset>




<!-- <fieldset>
  <%= form_for movie, url:{action: action} do |f| %>
    <legend>
      <h2><%= title %></h2>
    </legend>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :director %><br>
    <%= f.text_field :director %><br>
    <%= f.label :description %><br>
    <%= f.text_area :description %><br>
    <%= f.hidden_field :rank, :value => rank_value %>
    <%= f.submit "Save" %>
  <% end %>

</fieldset> -->
