<span class="content-name"><%= @content.name %></span>
Directed by: <%= @content.director %>

<div>
  Ranked: <%= @content.votes %>
</div>
<div>
  <%= @content.description %>
</div>

<%= button_to "Upvote" %>
<br>
<%= button_to "Edit #{@content.name}", @edit_path, method: :get %>
<%= button_to("Delete", @item_path + @content.id.to_s, onclick: "return confirm('Are you sure?')", method: :delete, title: "Delete") %>
<%= link_to "View All #{@content_type}", @content_path %>
<%= link_to "View All Media", "/" %>
