<h1><%= @item.name %></h1>
<%= "#{@special} by: #{@item.creator}" %>
<br>
Ranked: <%= @item.votes %>
<%= link_to "Upvote", polymorphic_path([:upvote, @item]), method: :patch %>
<%= link_to "Edit #{@item.name}", edit_polymorphic_path(@item) %>
<%= button_to "Delete", polymorphic_path(@item), method: :delete, onclick: "return confirm('Are you sure?')", title: "Delete", class: "btn btn-primary btn-block" %>
<%= link_to "View All #{@type}", polymorphic_path(@type.downcase) %>
<%= link_to "View All Media", root_path %>
