<h1>Top Movies</h1>
<% @top_movies.each do |movie| %>
  <li>
    <h2><%= link_to "#{movie.name}", movie_path(movie) %></h2>Ranked: <%= movie.votes %>
  </li>
<% end %>
<%= link_to 'view more movies', movies_path %>

<h1>Top Books</h1>
<% @top_books.each do |book| %>
  <li>
    <h2><%= link_to "#{book.name}", book_path(book) %></h2> Ranked: <%= book.votes %>
  </li>
<% end %>
<%= link_to 'view more books', books_path %>


<h1>Top Albums</h1>
<% @top_albums.each do |album| %>
  <li>
    <h2><%= link_to "#{album.name}", album_path(album) %></h2>Ranked: <%= album.votes %>
  </li>
<% end %>
<%= link_to 'view more albums', albums_path %>
