<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-md-4">
        <h1>Top Movies</h1>
        <% list = list(@movies) %>
        <% list.each do |movie| %>
          <h2> <%= link_to movie.name, movie_path(movie.id)%> <small> Ranked: <%= movie.rank %> </small></h2>
        <% end %>
        <br>
        <%= link_to "View more movies", movies_path %>
      </div>

    <div class="col-md-4">
      <h1>Top Books</h1>
      <% list = list(@books) %>
      <% list.each do |book| %>
        <h2><%= link_to book.name, book_path(book.id) %><small> Ranked: <%= book.rank %></small></h2>
      <% end %>
      <br>
      <%= link_to "View more books", books_path %>
    </div>

    <div class="col-md-4">
      <h1>Top Albums</h1>
      <% list = list(@albums) %>
      <% list.each do |album| %>
      <h2>  <%= link_to album.name, album_path(album.id) %><small> Ranked: <%= album.rank %></small> </h2>
      <% end %>
      <br>
      <%= link_to "View more albums", albums_path %>
    </div>
  </div>
</div>
