<h1> Top Movies </h1>
<% @movies.each do |model| %>
    <h2><%= link_to model.title, model %> <small>Ranked: <%= model.votes %></small></h2>
    <% end %>
    <%= link_to "View More Movies", movies_path %>


<h1> Top Books </h1>
<% @books.each do |model| %>
  <h2><%= link_to model.title, model %> <small>Ranked: <%= model.votes %></small></h2>
  <% end %>
  <%= link_to "View More Books", books_path %>


<h1> Top Albums </h1>
<% @albums.each do |model| %>
  <h2><%= link_to model.title, model %> <small>Ranked: <%= model.votes %></small></h2>
  <% end %>
  <%= link_to "View More Albums", albums_path %>
