<h1> Media Ranker will hang out here </h1>

<h1> Top Movies </h1>
<ul><% @movies.each do |model| %>
    <li><%= "placeholder ranking method" %>
    <%= link_to model.title, model %>
    <%="placeholder for upvote button" %></li>
    <% end %>
</ul>

<h1> Top Books </h1>
<ul><% @books.each do |model| %>
    <li><%= "placeholder ranking method" %>
    <%= link_to model.title, model %>
    <%="placeholder for upvote button" %></li>
    <% end %>
</ul>

<h1> Top Albums </h1>
<ul><% @albums.each do |model| %>
    <li><%= "placeholder ranking method" %>
    <%= link_to model.title, model %>
    <%="placeholder for upvote button" %></li>
    <% end %>
</ul>
