<div class="row">
  <div class="col-lg-12">
    <h2>Edit Movie</h2>
    <div class="form-group">
      <%= form_for @book do |f| %>
        <fieldset>
          <legend><%= @legend %></legend>
          <%= f.label :name %>
          <%= f.text_field :name %>
          <%= f.label :author %>
          <%= f.text_field :author %>
          <%= f.label :description %>
          <%= f.text_field :description %>
        </fieldset>
        <%= f.submit("Save"), class: "btn btn-default" %>
        <% end %>
      </div>
</div>
