<div class="row">
  <div class="col-lg-12">
    <h1><%= @book.title %>
        <small>Written by: <%= @book.author %></small>
    </h1>
    <h4>Ranked:<%= @book.ranking %></h4>
    <p><%= @book.description %></p>
    <div>
      <%= button_to 'Upvote', book_upvote_path(@book.id), method: :post %>
    </div>
    <div>
      <%= link_to "Edit #{@book.title}", edit_book_path(@book.id) %>
      <%= link_to "Delete",  { :controller=>"books", action: :destroy, :id => @book.id}, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>
