<div>
  <h1><%= @album.title %> <small>Recorded by: <%= @album.artist %></small></h1>
  <h4>Ranked: <%= @album.rank %></h4>
  <p>
    <%= @album.description %>
  </p>
  <%= button_to 'Upvote', upvote_album_path(@album.id) %>
</div>
  <%= button_to "Edit #{@album.title}", edit_album_path(@album.id) , :method => :get  %>
  <%= button_to 'Delete', album_path, :method => :delete %>
  <%= button_to 'View All Albums', albums_path, :method => :get  %>
  <%= button_to 'View All Media', root_path, :method => :get  %>
