<h1><%= @album.name %><small> Written by: <%= @album.artist %></small></h1>
Ranked: <%= @album.rank %><br>
<%= @album.description %>

<%= button_to "Upvote", { action: "upvote", id: @album.id, class: "vote" }, method: "patch" %>
<%= button_to "Edit", edit_album_path(@album.id), method: :get %>
<%= button_to "Delete", "/albums/#{@album.id}", method: :delete %>
<%= button_to "View All albums", albums_path, method: :get %>
<%= button_to "View All Media", root_path, method: :get %>
