<h1> <%= @media.title %> </h1>
<h4> <%= @media.artist %></h4>
<h4> Ranked: <%= @media.votes %> </h4>
<h4> <%= @media.description %></h4>
<h4><%= button_to 'Upvote', @path, method: :post, class:"btn btn-default", role:"button"%></h4>
