<h1><%= @album.name %></h1> <h2>Recorded by: <%= @album.artist%></h2>
<br>
<h3>Ranked: <%= @album.ranked %></h3>
<br>
<p>
  <%= @album.description %>
</p>
<br>
<%= button_to "Upvote", album_upvote_path(@album), method: :patch %>
<br>
<%= button_to "Edit #{@album.name}", edit_album_path(@album), method: :get %> <%= button_to "DELETE", "/albums/#{@album.id}", method: "delete",  data: { confirm: "Are you sure?" } %> <%= button_to "View All Albums", albums_path, method: :get %> <%= button_to "View All Media", root_path, method: :get %>
