<div class="row">
  <div class="col-lg-12">
    <h1><%= @medium.name %> <small>Directed by: <%= @medium.creator %></small></h1>
    <h4>Ranked:
      <% if @medium.upvotes.nil? %>
        0
      <% else %>
        <%= @medium.upvotes %>
      <% end %>
    </h4>
    <p>
      <%= @medium.description %>
    </p>
    <%= button_to "Upvote", media_path(@medium.type, @medium, :upvote),  method: :patch, class: 'btn btn-primary' %>
    <br />
    <%= link_to "Edit #{@medium.name}", edit_movie_path , class: "btn btn-default" %>
    <%= link_to "DELETE", media_path(@medium.type, @medium), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
    <%= link_to "View All #{@medium.name}", media_path(@medium.type, @medium),  method: :get, class: 'btn btn-default' %>
    <%= link_to "View All Media", "/",  method: :get, class: 'btn btn-default' %>
  </div>
</div>
