<h1><%= item.name %></h1>
<h2><%= create_verb %> by: <%= created_by %></h2>
<h3>Ranked: <%= item.ranking %></h3>
<p><%= item.description %></p>
<%= button_to "Upvote", polymorphic_path([:upvote, item]) %>
<%= link_to "Edit #{item.name}", edit_polymorphic_path(item, id: params[:id]) %>
<%= link_to "DELETE", polymorphic_path(item, id: params[:id]), method: :delete %>
<%= link_to "View All #{name.capitalize}", polymorphic_path(name) %>
<%= link_to "View All Media", "/" %>
