<span class="content-name"><%= @content.name %></span>
<%= @correct_string %> <%= @person %>

<div>
  Ranked: <%= @content.votes %>
</div>
<div>
  <%= @content.description %>
</div>

<%= button_to "Upvote", @item_path + "#{@content.id}/upvote", method: :patch %>
<br>
<%= button_to "Edit #{@content.name}", edit_polymorphic_path(@content), method: :get %>
<%= button_to "Delete", polymorphic_path(@content), onclick: "return confirm('Are you sure?')", method: :delete %>
<%= link_to "View All #{@content.class}s", polymorphic_path(@content.class) %>
<%= link_to "View All Media", root_path %>
