<div>
  <h1>
    <%= media.name %> <small><%= created_by %> <%= maker %></small>
  </h1>
  <h2>Ranked: <%= media.rank %></h2>
  <%= media.description %>
  <%= button_to "Upvote", polymorphic_path([:upvote, media]), method: :patch %>
  <%= link_to "Edit #{media.name}", edit_polymorphic_path(media) %>
  <%= button_to "Delete", polymorphic_path(media), method: :delete, data: { confirm: "Are you sure you want to delete this #{media.class}?"} %>
  <%= link_to "View All #{plur_name.capitalize}", polymorphic_path(plur_name) %>
  <%= button_to "View All Media", root_path, method: :get %>
</div>
