<h1><%= @movie.name %></h1>
<h2>Directed by: <%= @movie.director %></h2>
<h3>Ranked: <%= @movie.ranking %></h3>
<p><%= @movie.description %></p>
<%= button_to "Upvote", movie_path(id: params[:id]) %>
<%= link_to "Edit #{@movie.name}", edit_movie_path(id: params[:id]) %>
<%= link_to "DELETE", movie_path(id: params[:id]), method: :delete %>
<%= link_to "View All Movies", movies_path %>
<%= link_to "View All Media", "/" %>
