<h1><%= @media.name %> <small><%= header %>: <%= name %></small></h1>

<h4>Ranked: <%= @media.ranking %></h4>

<%= button_to "Upvote", polymorphic_path([:upvote, @media]) %>

<%= button_to "Edit #{@media.name}", edit_polymorphic_path(@media), method: :get %>

<%= button_to "DELETE", polymorphic_path(@media), method: :delete %>

<%= button_to "View All #{@media.class}s", polymorphic_path(@media.class), method: :get %>

<%= button_to "View All Media", root_path, method: :get %>
