<h1><%= @media.name %> <small><%= header %>: <%= name %></small></h1>

<h4>Ranked: <%= @media.ranking %></h4>

<%= link_to "Upvote", polymorphic_path(@media, :action => :upvote), :method => :patch %>

<%= link_to "Edit #{@media.name}", edit_polymorphic_path(@media) %>

<%= link_to "DELETE", polymorphic_path(@media), method: :delete, data: { confirm: "Are you sure?" } %>

<%= link_to "View All #{@media.class}s", polymorphic_path(@media.class) %>

<%= link_to "View All Media", root_path %>
