<div class="col-lg-12">
  <h1><%=@title%></h1>
  <div class="form-group">
    <%= form_for @model, url: { action: @action}, method: @method do |f| %>
      <fieldset>
        <legend></legend>
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control"%>
        <br>
        <%= f.label :artist%>
        <%= f.text_field :artist, class: "form-control" %>
        <br>
        <%= f.label :description%>
        <%= f.text_area :description, class: "form-control" %>
        <br>
      </fieldset>
      <input class = "btn btn-default"
      <%= f.submit "Save" %>
      <% end %>
  </div>
</div>
