<h1><%= @item.name %></h1>
<%= "#{@special} by: #{@item.creator}" %>
<br>
Ranked: <%= @item.votes %>
<br>
<%= @item.description %>
<br>
<%= link_to "Upvote", polymorphic_path([:upvote, @item.kind, @item]), method: :patch %>
<%= link_to "Edit #{@item.name}", edit_polymorphic_path([@item.kind, @item]) %>
<%= button_to "Delete", polymorphic_path([@item.kind, @item]), method: :delete, onclick: "return confirm('Are you sure?')", title: "Delete", class: "btn btn-primary btn-block" %>
<%= link_to "View All #{@item.kind.capitalize}s", polymorphic_path([@item.kind, @item, :index]) %>
<%= link_to "View All Media", root_path %>
