<!DOCTYPE html>
<html>
<head>
  <title>MediaRanker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <img src="http://vignette3.wikia.nocookie.net/everymanhybrid/images/9/98/Skull_illustration_by_yungtyrant.jpg/revision/latest?cb=20130409004754">
  <%= link_to "Media Ranker", "/" %>
  <h2>Ranking the Best of Everything</h2>
  <hr>
<%= yield %>

</body>
</html>
