<!DOCTYPE html>
<html>
<head>
  <title>MediaRanker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= image_tag("black-cat.png", size: "75x107") %>
    <%= link_to "Media Ranker", root_path %>
  </header>


<%= yield %>

</body>
</html>
